---
import Layout from '../../layouts/Layout.astro';
import PostRow from '../../components/PostRow.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {

	const posts = await getCollection('blog');
  const postYears = new Map();
  posts.forEach(post => {
      const year = post.data.date.getFullYear();

      if (!postYears.get(year)) {
          postYears.set(year, []);
      }

      postYears.get(year).push(post);
  });


    return [...postYears.entries()].map(([year, posts]) => ({
        params: { year },
        props: { posts }
    }));
};

const { year } = Astro.params;
const { posts } = Astro.props;
---

<Layout title="Blog">
  <h1>{year} Posts</h1>
  <div class="content-container">
    {posts.map((blogPostEntry: { id: any; data: { title: any; description: any; date: any; }; }) => (
      <PostRow
        href={`/blog/${blogPostEntry.id}`},
        title={blogPostEntry.data.title},
        description={blogPostEntry.data.description},
        date={blogPostEntry.data.date}
      />
    ))}
  </div>
</Layout>
