---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const flights = await getCollection('flights');
  return flights.map(flight => ({
    params: { id: flight.id }, props: { flight },
  }));
}

const { flight } = Astro.props;

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
	timezone: "America/Chicago"
};
---

<Layout title={flight.data.flightNumber}>
	<div class="blog-content content-container">
    <h1>{flight.data.flightNumber}</h1>
    <h2>{flight.data.flightStatus}</h2>
    <div class="flights">
      <div class="departure">
        <p><strong>Departure</strong></p>
        <div class="flight">
          <h2>{flight.data.departure.airportCode}</h2>
          <p>{flight.data.departure.airportName}</p>
          <div><span>Scheduled Time</span><span>{new Date(flight.data.departure.scheduledTime).toLocaleString('en-US')}</span></div>
          <div><span>Actual Time</span><span>{new Date(flight.data.departure.actualTime).toLocaleString('en-US')}</span></div>
          {flight.data.departure.terminal && (
            <div><span>Terminal</span><span>{flight.data.departure.terminal}</span></div>
          )}
          <div><span>Gate</span><span>{flight.data.departure.gate}</span></div>
        </div>
      </div>
      <div class="arrival">
        <p><strong>Arrival</strong></p>
        <div class="flight">
          <h2>{flight.data.arrival.airportCode}</h2>
          <p>{flight.data.arrival.airportName}</p>
          <div><span>Scheduled Time</span><span>{new Date(flight.data.arrival.scheduledTime).toLocaleString('en-US')}</span></div>
          <div><span>Actual Time</span><span>{new Date(flight.data.arrival.actualTime).toLocaleString('en-US')}</span></div>
          {flight.data.arrival.terminal && (
            <div><span>Terminal</span><span>{flight.data.arrival.terminal}</span></div>
          )}
          <div><span>Gate</span><span>{flight.data.arrival.gate}</span></div>
        </div>
      </div>

    </div>
  </div>
</Layout>

<style>
  .flights {
    display: grid;
    align-items: center;
    gap: 40px;
    grid-auto-rows: 1fr;
    @media (width > 800px) {
      grid-template-columns: 1fr 1fr;
      align-items: start;
    }
  }
  .flight {
    max-width: 600px;
    padding: 1rem;
    background-color: var(--lightColorAlt);
    h2 {
      text-align: left;
      margin: 0;
      font-size: 4rem;
    }
    div {
      display: grid;
      grid-template-columns: 0.6fr 1fr;
      gap: 20px;
      margin-bottom: 10px;
    }
  }
</style>