---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import PostRow from "../../components/PostRow.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={tag}>
    <h1>Posts tagged with <em>{tag}</em></h1>
    <div class="content-container">
      { posts.map((post) => <PostRow href={`/blog/${post.slug}/`} title={post.data.title} description={post.data.description}
      date={post.data.date}/>) }
    </div>
  </Layout>